.gray-line {
	width: 100%;
	height: 1px;
	background-color: #ccc;
	margin: 20px 0;
}

select {
	padding: 10px;
	font-size: 16px;
	border: 2px solid #F4B400;
	border-radius: 5px;
	background-color: #F5F5F5;
	font-weight: bold;
	color: #333;
}

option {
	padding: 10px;
	font-size: 16px;
	background-color: #FFF7E0;
	color: #333;
}

option:hover {
	background-color: #F4B400;
}

.sprt-text {
	width: 100%;
}

.title-date {
	display: flex;
	align-items: center;
	gap: 10px;
}

.sprt-title-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

.deleteSprtButton {
	background-color: #FFF7E0;
	display: flex;
	align-items: center;
	justify-content: center;
}

#modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal-content {
	background-color: #FFF7E0;
	padding: 30px;
	border-radius: 10px;
	max-width: 500px;
	width: 90%;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
	z-index: 1001; /* 오버레이보다 더 위 */
}

.button-wrapper {
	display: flex;
	justify-content: center;
	gap: 12px;
	margin-top: 24px;
}

.cancel {
	width: 100px;
	height: 32px;
	border-radius: 10px;
	border: none;
	font-family: bold;
	font-weight: 700;
	background: #666666;
	color: white;
}